In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
pd.read_csv("owid-covid-data.csv")
df=pd.read_csv("owid-covid-data.csv")
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219401,ZWE,Africa,Zimbabwe,2022-09-22,257259.0,103.0,45.714,5598.0,0.0,0.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
219402,ZWE,Africa,Zimbabwe,2022-09-23,257289.0,30.0,50.000,5599.0,1.0,0.429,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
219403,ZWE,Africa,Zimbabwe,2022-09-24,257318.0,29.0,47.143,5599.0,0.0,0.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
219404,ZWE,Africa,Zimbabwe,2022-09-25,257340.0,22.0,49.143,5599.0,0.0,0.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
219405,ZWE,Africa,Zimbabwe,2022-09-26,257342.0,2.0,36.000,5599.0,0.0,0.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [3]:
df.shape

(219406, 67)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219406 entries, 0 to 219405
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    219406 non-null  object
 1   continent                                   206785 non-null  object
 2   location                                    219406 non-null  object
 3   date                                        219406 non-null  object
 4   total_cases                                 210453 non-null  float64
 5   new_cases                                   210194 non-null  float64
 6   new_cases_smoothed                          208998 non-null  float64
 7   total_deaths                                191365 non-null  float64
 8   new_deaths                                  191290 non-null  float64
 9   new_deaths_smoothed                         190110 non-null  float64
 10  total_cases_per_million                     209490 non-null  float64
 11  new_cases_per_million                       209231 non-null  float64
 12  new_cases_smoothed_per_million              208040 non-null  float64
 13  total_deaths_per_million                    190415 non-null  float64
 14  new_deaths_per_million                      190340 non-null  float64
 15  new_deaths_smoothed_per_million             189165 non-null  float64
 16  reproduction_rate                           164389 non-null  float64
 17  icu_patients                                27919 non-null   float64
 18  icu_patients_per_million                    27919 non-null   float64
 19  hosp_patients                               30675 non-null   float64
 20  hosp_patients_per_million                   30675 non-null   float64
 21  weekly_icu_admissions                       7214 non-null    float64
 22  weekly_icu_admissions_per_million           7214 non-null    float64
 23  weekly_hosp_admissions                      14249 non-null   float64
 24  weekly_hosp_admissions_per_million          14249 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          61390 non-null   float64
 35  people_vaccinated                           58687 non-null   float64
 36  people_fully_vaccinated                     55923 non-null   float64
 37  total_boosters                              32668 non-null   float64
 38  new_vaccinations                            50514 non-null   float64
 39  new_vaccinations_smoothed                   125984 non-null  float64
 40  total_vaccinations_per_hundred              61390 non-null   float64
 41  people_vaccinated_per_hundred               58687 non-null   float64
 42  people_fully_vaccinated_per_hundred         55923 non-null   float64
 43  total_boosters_per_hundred                  32668 non-null   float64
 44  new_vaccinations_smoothed_per_million       125984 non-null  float64
 45  new_people_vaccinated_smoothed              125290 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  125290 non-null  float64
 47  stringency_index                            165339 non-null  float64
 48  population                                  218126 non-null  float64
 49  population_density                          194843 non-null  float64
 50  median_age                                  180300 non-null  float64
 51  aged_65_older                               178395 non-null  float64
 52  aged_70_older                               179356 non-null  float64
 53  gdp_per_capita                              179632 non-null  float64
 54  extreme_poverty                             117156 non-null  float64
 55  cardiovasc_death_rate                       179825 non-null  float64
 56  diabetes_prevalence                         189026 non-null  float64
 57  female_smokers                              136208 non-null  float64
 58  male_smokers                                134343 non-null  float64
 59  handwashing_facilities                      88402 non-null   float64
 60  hospital_beds_per_thousand                  159970 non-null  float64
 61  life_expectancy                             204990 non-null  float64
 62  human_development_index                     175338 non-null  float64
 63  excess_mortality_cumulative_absolute        7271 non-null    float64
 64  excess_mortality_cumulative                 7271 non-null    float64
 65  excess_mortality                            7316 non-null    float64
 66  excess_mortality_cumulative_per_million     7271 non-null    float64
dtypes: float64(62), object(5)
memory usage: 112.2+ MB

In [5]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [6]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,2.104530e+05,2.101940e+05,2.089980e+05,1.913650e+05,191290.000000,190110.000000,209490.000000,209231.000000,208040.000000,190415.000000,...,136208.000000,134343.000000,88402.000000,159970.000000,204990.000000,175338.000000,7.271000e+03,7271.000000,7316.000000,7271.000000
mean,4.224328e+06,1.247815e+04,1.252118e+04,7.247518e+04,141.918898,142.673559,56725.572934,188.953607,189.516245,673.624239,...,10.673113,32.807525,50.843158,3.084545,73.628184,0.724868,4.665339e+04,9.763841,14.545178,1283.087107
std,2.648068e+07,8.610310e+04,8.421337e+04,3.735456e+05,740.799222,726.334133,101664.862916,975.929153,643.814187,960.603267,...,10.622709,13.533841,31.840619,2.550062,7.447371,0.149692,1.300163e+05,13.688964,26.761036,1694.885257
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.001000,0.000000,0.000000,0.000000,...,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-3.772610e+04,-28.450000,-95.920000,-1884.678982
25%,4.004000e+03,0.000000e+00,6.429000e+00,1.100000e+02,0.000000,0.000000,1007.304500,0.000000,1.406000,28.451000,...,1.900000,21.600000,20.859000,1.300000,69.500000,0.602000,2.205000e+01,0.330000,-0.230000,14.670109
50%,4.628300e+04,5.800000e+01,9.742900e+01,1.122000e+03,1.000000,1.571000,9643.019000,8.171000,19.922000,203.053000,...,6.300000,31.400000,49.839000,2.500000,75.050000,0.743000,5.511300e+03,7.230000,7.325000,741.055294
75%,5.011950e+05,9.810000e+02,1.144571e+03,9.508000e+03,15.000000,16.286000,68355.025750,99.666500,136.723750,995.854000,...,19.300000,41.300000,82.502000,4.200000,79.070000,0.845000,3.296970e+04,15.370000,20.290000,1996.448440
max,6.154630e+08,4.081625e+06,3.436127e+06,6.537990e+06,17737.000000,14858.143000,655309.333000,195005.313000,35258.843000,6421.799000,...,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,1.220577e+06,76.550000,376.180000,9766.306877

In [7]:
#Checking for cases in a particular country
df[df["location"]=="Nigeria"]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
142938,NGA,Africa,Nigeria,2020-02-28,1.0,1.0,NaN,NaN,NaN,NaN,...,0.6,10.8,41.949,NaN,54.69,0.539,NaN,NaN,NaN,NaN
142939,NGA,Africa,Nigeria,2020-02-29,1.0,0.0,NaN,NaN,NaN,NaN,...,0.6,10.8,41.949,NaN,54.69,0.539,NaN,NaN,NaN,NaN
142940,NGA,Africa,Nigeria,2020-03-01,1.0,0.0,NaN,NaN,NaN,NaN,...,0.6,10.8,41.949,NaN,54.69,0.539,NaN,NaN,NaN,NaN
142941,NGA,Africa,Nigeria,2020-03-02,1.0,0.0,NaN,NaN,NaN,NaN,...,0.6,10.8,41.949,NaN,54.69,0.539,NaN,NaN,NaN,NaN
142942,NGA,Africa,Nigeria,2020-03-03,1.0,0.0,NaN,NaN,NaN,NaN,...,0.6,10.8,41.949,NaN,54.69,0.539,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143875,NGA,Africa,Nigeria,2022-09-22,265090.0,82.0,49.429,3155.0,0.0,0.0,...,0.6,10.8,41.949,NaN,54.69,0.539,NaN,NaN,NaN,NaN
143876,NGA,Africa,Nigeria,2022-09-23,265090.0,0.0,49.429,3155.0,0.0,0.0,...,0.6,10.8,41.949,NaN,54.69,0.539,NaN,NaN,NaN,NaN
143877,NGA,Africa,Nigeria,2022-09-24,265186.0,96.0,36.143,3155.0,0.0,0.0,...,0.6,10.8,41.949,NaN,54.69,0.539,NaN,NaN,NaN,NaN
143878,NGA,Africa,Nigeria,2022-09-25,265186.0,0.0,36.143,3155.0,0.0,0.0,...,0.6,10.8,41.949,NaN,54.69,0.539,NaN,NaN,NaN,NaN
143879,NGA,Africa,Nigeria,2022-09-26,265186.0,0.0,36.143,3155.0,0.0,0.0,...,0.6,10.8,41.949,NaN,54.69,0.539,NaN,NaN,NaN,NaN

In [8]:
df["location"].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'High income', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'International', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Low income',
       'Lower middle income', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Korea', 'North Macedonia',
       'Northern Cyprus', 'Northern Mariana Islands', 'Norway', 'Oceania',
       'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [9]:
df["location"].nunique()

244

In [10]:
#Checking for missing data
df.isnull().sum()

iso_code                                        0
continent                                   12621
location                                        0
date                                            0
total_cases                                  8953
                                            ...
human_development_index                     44068
excess_mortality_cumulative_absolute       212135
excess_mortality_cumulative                212135
excess_mortality                           212090
excess_mortality_cumulative_per_million    212135
Length: 67, dtype: int64

In [11]:
df.isnull()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,False,False,False,False,False,False,True,True,True,True,...,True,True,False,False,False,False,True,True,True,True
1,False,False,False,False,False,False,True,True,True,True,...,True,True,False,False,False,False,True,True,True,True
2,False,False,False,False,False,False,True,True,True,True,...,True,True,False,False,False,False,True,True,True,True
3,False,False,False,False,False,False,True,True,True,True,...,True,True,False,False,False,False,True,True,True,True
4,False,False,False,False,False,False,True,True,True,True,...,True,True,False,False,False,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219401,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
219402,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
219403,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
219404,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
219405,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True

In [12]:
df.isnull().sum()

iso_code                                        0
continent                                   12621
location                                        0
date                                            0
total_cases                                  8953
                                            ...
human_development_index                     44068
excess_mortality_cumulative_absolute       212135
excess_mortality_cumulative                212135
excess_mortality                           212090
excess_mortality_cumulative_per_million    212135
Length: 67, dtype: int64

In [13]:
#Percentage of missing data
#Drop the data with the most percentage of missing data if you want
df.isna().mean() * 100

iso_code                                    0.000000
continent                                   5.752350
location                                    0.000000
date                                        0.000000
total_cases                                 4.080563
                                             ...
human_development_index                    20.085139
excess_mortality_cumulative_absolute       96.686052
excess_mortality_cumulative                96.686052
excess_mortality                           96.665542
excess_mortality_cumulative_per_million    96.686052
Length: 67, dtype: float64

In [14]:
(df.isna().mean() * 100).sort_values(ascending=False)

weekly_icu_admissions_per_million          96.712032
weekly_icu_admissions                      96.712032
excess_mortality_cumulative_per_million    96.686052
excess_mortality_cumulative                96.686052
excess_mortality_cumulative_absolute       96.686052
                                             ...
total_cases                                 4.080563
population                                  0.583393
date                                        0.000000
location                                    0.000000
iso_code                                    0.000000
Length: 67, dtype: float64

In [15]:
(df.isna().mean() * 100).sort_values(ascending=False)[:10]

weekly_icu_admissions_per_million          96.712032
weekly_icu_admissions                      96.712032
excess_mortality_cumulative_per_million    96.686052
excess_mortality_cumulative                96.686052
excess_mortality_cumulative_absolute       96.686052
excess_mortality                           96.665542
weekly_hosp_admissions                     93.505647
weekly_hosp_admissions_per_million         93.505647
icu_patients                               87.275188
icu_patients_per_million                   87.275188
dtype: float64

In [16]:
#data cleaning
df["location"].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'High income', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'International', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Low income',
       'Lower middle income', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Korea', 'North Macedonia',
       'Northern Cyprus', 'Northern Mariana Islands', 'Norway', 'Oceania',
       'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [17]:
#To check the countries that are not appropriate or not correct/remove the inappropriate ones
df["location"].isin(["Africa", "World", "Upper middle income","Low income", "Lower middle income"])

0         False
1         False
2         False
3         False
4         False
          ...
219401    False
219402    False
219403    False
219404    False
219405    False
Name: location, Length: 219406, dtype: bool

In [18]:
condition = df["location"].isin(["Africa", "World", "Upper middle income", "Low income", "Lower middle income"])
df.drop(df[condition].index, inplace=True)    #drop the index number that is true/ try not to run this line of code twice
df["location"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'High income', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'International', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macao', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali',
       'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Korea', 'North Macedonia',
       'Northern Cyprus', 'Northern Mariana Islands', 'Norway', 'Oceania',
       'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam',
       'Wallis and Futuna', 'Western Sahara', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [19]:
#To start from the recent ones/recent cases
#most_recent=df[df["date"] == max(df["date"])].reset_index()  # This will reset the index to match your sorted values
#most_recent=df[df["date"] == max(df["date"])]
#most_recent
#df.sort_values(by="date", ascending=False)
most_recent=df.sort_values(by="date", ascending=False)
most_recent

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
219405,ZWE,Africa,Zimbabwe,2022-09-26,257342.0,2.0,36.000,5599.0,0.0,0.143,...,1.6,30.7,36.791,1.70,61.49,0.571,NaN,NaN,NaN,NaN
179772,SVN,Europe,Slovenia,2022-09-26,1171695.0,759.0,1998.857,6814.0,2.0,1.286,...,20.1,25.0,NaN,4.50,81.32,0.917,NaN,NaN,NaN,NaN
88230,HKG,Asia,Hong Kong,2022-09-26,1749534.0,4034.0,5111.286,10128.0,12.0,32.429,...,NaN,NaN,NaN,NaN,84.86,0.949,NaN,NaN,NaN,NaN
89168,HUN,Europe,Hungary,2022-09-26,2082750.0,NaN,NaN,47457.0,NaN,NaN,...,26.8,34.8,NaN,7.02,76.88,0.854,NaN,NaN,NaN,NaN
27248,BWA,Africa,Botswana,2022-09-26,326308.0,181.0,25.857,2789.0,2.0,0.286,...,5.7,34.4,NaN,1.80,69.59,0.735,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,ARG,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,...,16.2,27.7,NaN,5.00,76.67,0.845,NaN,NaN,NaN,NaN
126787,MEX,North America,Mexico,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,6.9,21.4,87.847,1.38,75.05,0.779,NaN,NaN,NaN,NaN
7495,ARG,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,16.2,27.7,NaN,5.00,76.67,0.845,NaN,NaN,NaN,NaN
126786,MEX,North America,Mexico,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,6.9,21.4,87.847,1.38,75.05,0.779,NaN,NaN,NaN,NaN
7494,ARG,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,16.2,27.7,NaN,5.00,76.67,0.845,NaN,NaN,NaN,NaN

In [20]:
#To convert our date datatype to type date
type(df["date"])

pandas.core.series.Series

In [21]:
type(df["date"][0])   #Check the index

str

In [22]:
most_recent["date"] = pd.to_datetime(most_recent["date"]).dt.strftime("%y/%m/%d")
most_recent

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
219405,ZWE,Africa,Zimbabwe,22/09/26,257342.0,2.0,36.000,5599.0,0.0,0.143,...,1.6,30.7,36.791,1.70,61.49,0.571,NaN,NaN,NaN,NaN
179772,SVN,Europe,Slovenia,22/09/26,1171695.0,759.0,1998.857,6814.0,2.0,1.286,...,20.1,25.0,NaN,4.50,81.32,0.917,NaN,NaN,NaN,NaN
88230,HKG,Asia,Hong Kong,22/09/26,1749534.0,4034.0,5111.286,10128.0,12.0,32.429,...,NaN,NaN,NaN,NaN,84.86,0.949,NaN,NaN,NaN,NaN
89168,HUN,Europe,Hungary,22/09/26,2082750.0,NaN,NaN,47457.0,NaN,NaN,...,26.8,34.8,NaN,7.02,76.88,0.854,NaN,NaN,NaN,NaN
27248,BWA,Africa,Botswana,22/09/26,326308.0,181.0,25.857,2789.0,2.0,0.286,...,5.7,34.4,NaN,1.80,69.59,0.735,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,ARG,South America,Argentina,20/01/03,NaN,NaN,NaN,NaN,NaN,NaN,...,16.2,27.7,NaN,5.00,76.67,0.845,NaN,NaN,NaN,NaN
126787,MEX,North America,Mexico,20/01/02,NaN,NaN,NaN,NaN,NaN,NaN,...,6.9,21.4,87.847,1.38,75.05,0.779,NaN,NaN,NaN,NaN
7495,ARG,South America,Argentina,20/01/02,NaN,NaN,NaN,NaN,NaN,NaN,...,16.2,27.7,NaN,5.00,76.67,0.845,NaN,NaN,NaN,NaN
126786,MEX,North America,Mexico,20/01/01,NaN,NaN,NaN,NaN,NaN,NaN,...,6.9,21.4,87.847,1.38,75.05,0.779,NaN,NaN,NaN,NaN
7494,ARG,South America,Argentina,20/01/01,NaN,NaN,NaN,NaN,NaN,NaN,...,16.2,27.7,NaN,5.00,76.67,0.845,NaN,NaN,NaN,NaN

In [23]:
#To set the date as the index
#most_recent.reset_index("date")
most_recent.set_index("date")
most_recent = most_recent.set_index("date")   #To save it
most_recent

,iso_code,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
date,,,,,,,,,,,,,,,,,,,,,
22/09/26,ZWE,Africa,Zimbabwe,257342.0,2.0,36.000,5599.0,0.0,0.143,16090.388,...,1.6,30.7,36.791,1.70,61.49,0.571,NaN,NaN,NaN,NaN
22/09/26,SVN,Europe,Slovenia,1171695.0,759.0,1998.857,6814.0,2.0,1.286,552840.177,...,20.1,25.0,NaN,4.50,81.32,0.917,NaN,NaN,NaN,NaN
22/09/26,HKG,Asia,Hong Kong,1749534.0,4034.0,5111.286,10128.0,12.0,32.429,233439.962,...,NaN,NaN,NaN,NaN,84.86,0.949,NaN,NaN,NaN,NaN
22/09/26,HUN,Europe,Hungary,2082750.0,NaN,NaN,47457.0,NaN,NaN,214500.093,...,26.8,34.8,NaN,7.02,76.88,0.854,NaN,NaN,NaN,NaN
22/09/26,BWA,Africa,Botswana,326308.0,181.0,25.857,2789.0,2.0,0.286,126064.403,...,5.7,34.4,NaN,1.80,69.59,0.735,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20/01/03,ARG,South America,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.2,27.7,NaN,5.00,76.67,0.845,NaN,NaN,NaN,NaN
20/01/02,MEX,North America,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.9,21.4,87.847,1.38,75.05,0.779,NaN,NaN,NaN,NaN
20/01/02,ARG,South America,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.2,27.7,NaN,5.00,76.67,0.845,NaN,NaN,NaN,NaN
20/01/01,MEX,North America,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.9,21.4,87.847,1.38,75.05,0.779,NaN,NaN,NaN,NaN
20/01/01,ARG,South America,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.2,27.7,NaN,5.00,76.67,0.845,NaN,NaN,NaN,NaN

In [24]:
#Save our data for flourish- flourish is the website we will do our visualizatio/use flourish as a variable
flourish_data = pd.pivot_table(most_recent, values="total_cases", index=["location"], columns="date").reset_index()
flourish_data

date,location,20/01/22,20/01/23,20/01/24,20/01/25,20/01/26,20/01/27,20/01/28,20/01/29,20/01/30,...,22/09/17,22/09/18,22/09/19,22/09/20,22/09/21,22/09/22,22/09/23,22/09/24,22/09/25,22/09/26
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,197066.0,197240.0,197434.0,197608.0,197788.0,198023.0,198163.0,198244.0,198416.0,198543.0
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,331540.0,331583.0,331601.0,331715.0,331810.0,331861.0,331908.0,331953.0,331976.0,331987.0
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,270606.0,270609.0,270612.0,270612.0,270619.0,270625.0,270631.0,270637.0,270641.0,270649.0
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46147.0,46147.0,46147.0,46147.0,46147.0,46147.0,46147.0,46147.0,46147.0,46147.0
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,103131.0,103131.0,103131.0,103131.0,103131.0,103131.0,103131.0,103131.0,103131.0,103131.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,Vietnam,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,11456558.0,11458449.0,11460227.0,11463404.0,11465691.0,11467619.0,11470164.0,11471340.0,11472301.0,11473733.0
222,Wallis and Futuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,761.0,761.0,761.0,761.0,761.0,761.0,761.0,761.0,761.0,761.0
223,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11932.0,11932.0,11932.0,11932.0,11932.0,11934.0,11934.0,11935.0,11935.0,11935.0
224,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,333375.0,333382.0,333387.0,333387.0,333439.0,333439.0,333439.0,333439.0,333439.0,333439.0
225,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,256988.0,256996.0,257090.0,257156.0,257156.0,257259.0,257289.0,257318.0,257340.0,257342.0

In [25]:
flags = pd.read_csv("flags_world.csv")
flags

          country                                          Image URL
0     Afghanistan  https://upload.wikimedia.org/wikipedia/commons...
1          Angola  https://cdn.countryflags.com/thumbs/angola/fla...
2         Albania  https://cdn.countryflags.com/thumbs/albania/fl...
3         Andorra  https://cdn.countryflags.com/thumbs/andorra/fl...
4       Argentina  https://cdn.countryflags.com/thumbs/argentina/...
..            ...                                                ...
203        Kosovo  https://cdn.countryflags.com/thumbs/kosovo/fla...
204   Yemen, Rep.       https://flagpedia.net/data/flags/w580/ye.png
205  South Africa  https://cdn.countryflags.com/thumbs/south-afri...
206        Zambia  https://cdn.countryflags.com/thumbs/zambia/fla...
207      Zimbabwe  https://cdn.countryflags.com/thumbs/zimbabwe/f...

[208 rows x 2 columns]

In [26]:
#Merging the data
#final_data = pd.merge(flourish_data, flags, how="country") this is if flags have country in common with covid data 
final_data = pd.merge(flourish_data, flags, left_on="location", right_on="country")
final_data.head()

,location,20/01/22,20/01/23,20/01/24,20/01/25,20/01/26,20/01/27,20/01/28,20/01/29,20/01/30,...,22/09/19,22/09/20,22/09/21,22/09/22,22/09/23,22/09/24,22/09/25,22/09/26,country,Image URL
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,197434.0,197608.0,197788.0,198023.0,198163.0,198244.0,198416.0,198543.0,Afghanistan,https://upload.wikimedia.org/wikipedia/commons...
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,331601.0,331715.0,331810.0,331861.0,331908.0,331953.0,331976.0,331987.0,Albania,https://cdn.countryflags.com/thumbs/albania/fl...
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,270612.0,270612.0,270619.0,270625.0,270631.0,270637.0,270641.0,270649.0,Algeria,https://cdn.countryflags.com/thumbs/algeria/fl...
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46147.0,46147.0,46147.0,46147.0,46147.0,46147.0,46147.0,46147.0,Andorra,https://cdn.countryflags.com/thumbs/andorra/fl...
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,103131.0,103131.0,103131.0,103131.0,103131.0,103131.0,103131.0,103131.0,Angola,https://cdn.countryflags.com/thumbs/angola/fla...

In [27]:
#This drops country data
#del final_data["country"]   removing country column
#Exporting our data
img = final_data["Image URL"] #Bringing out the image/backing up image url column
final_data.drop(labels=["Image URL"], axis=1, inplace=True)   #removing image url from last column
final_data.insert(1,"flags",img)  #inserting into index 1/inserting image url to second column
final_data.to_csv("covid_final.csv") #saving  final data to csv
final_data

,location,flags,20/01/22,20/01/23,20/01/24,20/01/25,20/01/26,20/01/27,20/01/28,20/01/29,...,22/09/18,22/09/19,22/09/20,22/09/21,22/09/22,22/09/23,22/09/24,22/09/25,22/09/26,country
0,Afghanistan,https://upload.wikimedia.org/wikipedia/commons...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,197240.0,197434.0,197608.0,197788.0,198023.0,198163.0,198244.0,198416.0,198543.0,Afghanistan
1,Albania,https://cdn.countryflags.com/thumbs/albania/fl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,331583.0,331601.0,331715.0,331810.0,331861.0,331908.0,331953.0,331976.0,331987.0,Albania
2,Algeria,https://cdn.countryflags.com/thumbs/algeria/fl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,270609.0,270612.0,270612.0,270619.0,270625.0,270631.0,270637.0,270641.0,270649.0,Algeria
3,Andorra,https://cdn.countryflags.com/thumbs/andorra/fl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46147.0,46147.0,46147.0,46147.0,46147.0,46147.0,46147.0,46147.0,46147.0,Andorra
4,Angola,https://cdn.countryflags.com/thumbs/angola/fla...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,103131.0,103131.0,103131.0,103131.0,103131.0,103131.0,103131.0,103131.0,103131.0,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Uzbekistan,https://cdn.countryflags.com/thumbs/uzbekistan...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,244023.0,244060.0,244072.0,244084.0,244105.0,244120.0,244120.0,244120.0,244160.0,Uzbekistan
173,Vanuatu,https://upload.wikimedia.org/wikipedia/commons...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11937.0,11950.0,11950.0,11950.0,11950.0,11950.0,11950.0,11950.0,11950.0,Vanuatu
174,Vietnam,https://cdn.countryflags.com/thumbs/vietnam/fl...,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,11458449.0,11460227.0,11463404.0,11465691.0,11467619.0,11470164.0,11471340.0,11472301.0,11473733.0,Vietnam
175,Zambia,https://cdn.countryflags.com/thumbs/zambia/fla...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,333382.0,333387.0,333387.0,333439.0,333439.0,333439.0,333439.0,333439.0,333439.0,Zambia
176,Zimbabwe,https://cdn.countryflags.com/thumbs/zimbabwe/f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,256996.0,257090.0,257156.0,257156.0,257259.0,257289.0,257318.0,257340.0,257342.0,Zimbabwe

In [28]:
final_data

,location,flags,20/01/22,20/01/23,20/01/24,20/01/25,20/01/26,20/01/27,20/01/28,20/01/29,...,22/09/18,22/09/19,22/09/20,22/09/21,22/09/22,22/09/23,22/09/24,22/09/25,22/09/26,country
0,Afghanistan,https://upload.wikimedia.org/wikipedia/commons...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,197240.0,197434.0,197608.0,197788.0,198023.0,198163.0,198244.0,198416.0,198543.0,Afghanistan
1,Albania,https://cdn.countryflags.com/thumbs/albania/fl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,331583.0,331601.0,331715.0,331810.0,331861.0,331908.0,331953.0,331976.0,331987.0,Albania
2,Algeria,https://cdn.countryflags.com/thumbs/algeria/fl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,270609.0,270612.0,270612.0,270619.0,270625.0,270631.0,270637.0,270641.0,270649.0,Algeria
3,Andorra,https://cdn.countryflags.com/thumbs/andorra/fl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46147.0,46147.0,46147.0,46147.0,46147.0,46147.0,46147.0,46147.0,46147.0,Andorra
4,Angola,https://cdn.countryflags.com/thumbs/angola/fla...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,103131.0,103131.0,103131.0,103131.0,103131.0,103131.0,103131.0,103131.0,103131.0,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Uzbekistan,https://cdn.countryflags.com/thumbs/uzbekistan...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,244023.0,244060.0,244072.0,244084.0,244105.0,244120.0,244120.0,244120.0,244160.0,Uzbekistan
173,Vanuatu,https://upload.wikimedia.org/wikipedia/commons...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11937.0,11950.0,11950.0,11950.0,11950.0,11950.0,11950.0,11950.0,11950.0,Vanuatu
174,Vietnam,https://cdn.countryflags.com/thumbs/vietnam/fl...,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,11458449.0,11460227.0,11463404.0,11465691.0,11467619.0,11470164.0,11471340.0,11472301.0,11473733.0,Vietnam
175,Zambia,https://cdn.countryflags.com/thumbs/zambia/fla...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,333382.0,333387.0,333387.0,333439.0,333439.0,333439.0,333439.0,333439.0,333439.0,Zambia
176,Zimbabwe,https://cdn.countryflags.com/thumbs/zimbabwe/f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,256996.0,257090.0,257156.0,257156.0,257259.0,257289.0,257318.0,257340.0,257342.0,Zimbabwe

In [ ]:
#Go to flourish.studio